header {
    text-align: center;
    padding: 50px;
    color: rgb(7, 32, 94);
    font-size: larger;
}

.img-me {
    width: 30rem;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px;
   }
 
.img-me img{
    width: 100%;
   }
.main-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: block;
}

.container-team-work {
    width: 50rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
   
}  

.team-work-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.container-team-work img{
    width: 100%;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px; 

}

main {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

* {
    box-sizing: border-box;
}
nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul {
    display: flex;
    padding-top: 0px;
}

nav ul li {
    margin-right: 6px;
    margin-left: 6px;
}

nav ul li a {
    background: rgb(17, 143, 162);
    color: rgb(178, 228, 39);
    text-decoration: none;
    padding: 0 35px;
}

ul li {
    list-style-type: none;
}

#about {
    display: flex;
    flex-direction: row;
}

#about p {
    margin: 20px;
   }

#about h1 {
    padding: 50px;
    border-right: 5px solid black;
    /* flex: 0 0 5% */
    flex: 1;
}
/* #work  {
} */
#work h1 {
    padding: 50px;
    border-right: 5px solid black;
    /* flex: 0 0 5% */
    flex: 1;
}

#contact h1 {
    padding: 50px;
    border-right: 5px solid black;
    /* flex: 0 0 5% */
    flex: 1;
}

#contact {
    display: flex;
    flex-direction: row;
}

#contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#contact ul li {
    margin-top: auto;
    margin-bottom: auto;
    
}
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

#work {
    display: flex;
    flex-direction: row;
    
}

.smaller-images img{
    width: 100%;
  
}

.smaller-images{
    width: 20rem;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-container {
    width: 80%;
    
}

@media screen and (max-width: 768px) {
    .image-container {
        display:block;
        
    }

}